<div class="container">
  <!-- Category Dropdown -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      類別
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      {{#each categories}}
      <button class="dropdown-item" type="button">{{this.name}}</button>
      {{/each}}
    </div>
  </div>

  <div class="amount">
    <h1>總金額: {{totalAmount}}</h1>
  </div>

  <ul class="list-group">
    <!-- Render Records -->
    {{#each records}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto mr-auto">
          <h5>{{this.name}}</h5>
          <span>{{this.date}}</span>
        </div>
        <div class="col-auto">
          <a href="/" class="btn btn-primary btn-lg" role="button" aria-pressed="true">修改</a>
          <a href="/" class="btn btn-primary btn-lg" role="button" aria-pressed="true">刪除</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>

  <a href="/new" class="btn btn-primary btn-lg" role="button" aria-pressed="true">新增支出</a>

</div>